# tex stuff
*.log
*.out
*.aux
# jabref stuff
*.bib.bak
*.bib.sav
*bib.sav.bak
# python stuff
**/__pycache__
# mac stuff
.DS_Store
# sensitive data
**/*unencrypted.yaml
# tex files
./tex/*
!./tex/altacv.cls
!./tex/main.tex
!./tex/fontawesome.sty
# build results
*.pdf
